[submodule "ShareX.ImageEditor"]
	path = ShareX.ImageEditor
	url = https://github.com/KovaForge/ShareX.ImageEditor.git
	branch = develop
	update = rebase
[submodule "Omacut"]
	path = Omacut
	url = https://github.com/KovaForge/omacut.git
	branch = develop
	update = rebase
